@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 200px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    box-sizing: border-box;
    border: 2px solid black;
    width: 450px;
    height: 650px;
    padding: 32px;
    border-radius: 16px;
    
}

.calculator-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 0;

    box-sizing: border-box;
    background-color: lightgray;
    border: 2px solid black;
    height: 96px;
    border-radius: 16px;
    padding: 16px;

    font-size: 36px;
    font-family: Orbitron, sans-serif;
}

.calculator-buttons {
    display: flex;
    flex: 1;
    gap: 8px;
    flex-direction: column;
}

button {
    border-radius: 16px;
    height: 90px;
    font-size: 32px;
    font-family: Orbitron, sans-serif;
}

.thin-button {
    width: 90px;
}

.wide-button {
    width: 188px;
}

.calculator-middle-container {
    display: flex;
    flex: 1;
    gap: 8px
}

.calculator-left-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.remove-buttons {
    flex: 1;
    display: flex;
    gap: 8px;
}

.calculator-numpad {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.calculator-operators {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-row {
    flex: 1;
    display: flex;
    gap: 8px;
}